---
layout: default
---
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ post.url | relative_url }}" />
<meta property="og:image" content="https://womogenes.github.io/blog/images/preview.png" />
<meta property="og:description" content="{{ page.excerpt }}" />

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>